<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072811015171-9kofl186nqu4pikuq4qne3r6255e92bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072811015171-9kofl186nqu4pikuq4qne3r6255e92bi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDMU2wK1cqy6fvMnDRAsmsOdtOj8MaDMY</string>
	<key>GCM_SENDER_ID</key>
	<string>1072811015171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roberdev.rickmorty.app</string>
	<key>PROJECT_ID</key>
	<string>rickmortyflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rickmortyflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072811015171:ios:ebdebf44d9fde881a3e236</string>
</dict>
</plist>